<!-- first step  -->
<ng-container *ngIf="tab === 4">
  <div class="arrow mt-2">
    <div class="me-5">
      <span (click)="backStep(4)"
        ><i class="fa-solid fa-arrow-right-long"></i>العوده</span
      >
    </div>
    <div class="ms-5">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <h3>قم بكتابة وصف منزل أحلامك</h3>
      </div>
      <div class="col-md-6 mt-5">
        <p>وصف مختصر عن المنزل</p>
        <input [(ngModel)]="houseDesc" class="form-control" />
      </div>
      <div class="col-md-12 mt-3">
        <p>وصف تعبيري عن المنزل</p>
        <div class="group">
          <span class="input-group-text p-2 flex-row">
            <i class="fa-solid fa-link ms-4"></i>
            <i class="fa-regular fa-image ms-4"></i>
            <i class="fa-solid fa-list-ul ms-4"></i>
            <i class="fa-solid fa-arrow-up-1-9 ms-4"></i>
            <i class="fa-solid fa-align-right ms-4"></i>
            <i class="fa-solid fa-align-center ms-4"></i>
            <i class="fa-solid fa-align-left ms-4"></i>
            <i class="fa-solid fa-strikethrough ms-4"></i>
            <i class="fa-solid fa-underline ms-4"></i>
            <i class="fa-solid fa-italic ms-4"></i>
            <i class="fa-solid fa-bold ms-4"></i>
            <i class="fa-solid fa-circle ms-4"></i>
            <i class="fa-solid fa-t ms-4"></i>
            <i class="fa-solid fa-chevron-down"></i>
          </span>
          <textarea
            class="w-100"
            [(ngModel)]="description"
            placeholder="عزيزي [اسم العميل]،
                نحن في [اسم الشركة] نسعى دائمًا لتقديم أفضل الحلول التي تلبي احتياجاتك وتجعل حياتك أسهل. لذلك، يسعدنا أن نعلن عن إطلاق ميزات جديدة ومثيرة في منصتنا!
                ما الجديد؟
                ميزة X: التي تتيح لك [وصف مختصر للميزة وفائدتها].
                ميزة Y: لتمكينك من [وصف مختصر للميزة وفائدتها].
                ميزة Z: التي تساعدك على [وصف مختصر للميزة وفائدتها].
                لماذا تختار [اسم الشركة]؟
                خدمة عملاء متميزة: نحن هنا لدعمك على مدار الساعة.
                أسعار تنافسية: احصل على أفضل قيمة مقابل ما تدفعه.
                أمان وثقة: نحن نحافظ على سرية معلوماتك وأمانها.
                عرض خاص! احصل على خصم بنسبة [نسبة الخصم]% عند استخدام الكود NEWFEATURES أثناء عملية الشراء. العرض ساري حتى [تاريخ انتهاء العرض].
                لا تفوت الفرصة! انقر هنا للاكتشاف الآن: [رابط الموقع]
                إذا كان لديك أي استفسارات أو تحتاج إلى مساعدة، لا تتردد في الاتصال بنا على [بيانات الاتصال].
                شكرًا لاختيارك [اسم الشركة]. نحن نتطلع إلى خدمتك وتقديم أفضل تجربة ممكنة لك.
                مع أطيب التحيات، فريق [اسم الشركة]"
          ></textarea>
          <!-- <input class="w-100"> -->
          <i class="fa-solid fa-envelope-open-text custome"></i>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex">
          <button
            (click)="goToNextStep(4)"
            type="button"
            class="btn btn-primary mt-4 px-5 mx-auto"
          >
            الخطوة التاليه
          </button>
        </div>
      </div>
      <div class="col-md-12 text-center mt-3">
        <p>قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل</p>
      </div>
    </div>
  </div>
  <div class="progress fixed-bottom">
    <div class="progress-bar"></div>
  </div>
</ng-container>

<!-- second step -->
<ng-container *ngIf="tab === 5">
  <div class="arrow mt-2">
    <div class="me-5">
      <span (click)="backStep(5)"
        ><i class="fa-solid fa-arrow-right-long"></i>العوده</span
      >
    </div>
    <div class="ms-5">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-12">
        <h3>قم بكتابة نص الرسالة المرسلة</h3>
        <p>قم بتسمية حملتك و تاريخ إرسال الحملة المتوقع</p>
      </div>
      <div class="col-md-12 parent">
        <div class="box p-3">
          <div class="mb-3">
            <h5><i class="fa-regular fa-calendar-days"></i> تصميم المنزل</h5>
          </div>
          <div class="radio-bar">
            <div>
              <input
                class="form-check-input cursor ms-2"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1"
                >تصميم حديث</label
              >
            </div>
            <div>
              <input
                class="form-check-input cursor ms-2"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1"
              />
              <label class="form-check-label" for="flexRadioDefault1"
                >تصميم حديث وذكي</label
              >
            </div>
          </div>
        </div>
        <div class="custome">
          <i class="fa-solid fa-envelope-open-text"></i>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <div class="group">
          <div class="input-group-text p-2">
            <div>
              <h5><i class="fa-regular fa-eye"></i> معاينة وصف المنزل</h5>
            </div>
            <div class="">
              <h6>الموضوع : {{ houseDesc }}</h6>
            </div>
          </div>
          <textarea
            class="w-100"
            [(ngModel)]="description"
            placeholder="عزيزي [اسم العميل]،
                نحن في [اسم الشركة] نسعى دائمًا لتقديم أفضل الحلول التي تلبي احتياجاتك وتجعل حياتك أسهل. لذلك، يسعدنا أن نعلن عن إطلاق ميزات جديدة ومثيرة في منصتنا!
                ما الجديد؟
                ميزة X: التي تتيح لك [وصف مختصر للميزة وفائدتها].
                ميزة Y: لتمكينك من [وصف مختصر للميزة وفائدتها].
                ميزة Z: التي تساعدك على [وصف مختصر للميزة وفائدتها].
                لماذا تختار [اسم الشركة]؟
                خدمة عملاء متميزة: نحن هنا لدعمك على مدار الساعة.
                أسعار تنافسية: احصل على أفضل قيمة مقابل ما تدفعه.
                أمان وثقة: نحن نحافظ على سرية معلوماتك وأمانها.
                عرض خاص! احصل على خصم بنسبة [نسبة الخصم]% عند استخدام الكود NEWFEATURES أثناء عملية الشراء. العرض ساري حتى [تاريخ انتهاء العرض].
                لا تفوت الفرصة! انقر هنا للاكتشاف الآن: [رابط الموقع]
                إذا كان لديك أي استفسارات أو تحتاج إلى مساعدة، لا تتردد في الاتصال بنا على [بيانات الاتصال].
                شكرًا لاختيارك [اسم الشركة]. نحن نتطلع إلى خدمتك وتقديم أفضل تجربة ممكنة لك.
                مع أطيب التحيات، فريق [اسم الشركة]"
          ></textarea>
          <!-- <input class="w-100"> -->
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-flex">
          <button
            (click)="goToNextStep(5)"
            type="button"
            class="btn btn-primary mt-4 px-5 mx-auto"
          >
            الخطوة التاليه
          </button>
        </div>
      </div>
      <div class="col-md-12 text-center mt-3">
        <p>قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل</p>
      </div>
    </div>
  </div>
  <div class="progress fixed-bottom">
    <div class="progress-bar"></div>
  </div>
</ng-container>
