.icon-out {
    height: 258px;
    width: 258px;
    border: 8.19px solid #c5e0ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 258px;
    width: 258px;
    border: 25px solid #c5e0ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #0067ff;
    i {
        font-size: 80px;
        color: #1a9fff;
        rotate: 20deg;
        font-size: 80px;
        color: white;
    }
}

.progress {
    width: 100%;
    height: 5px;
    color: #1a9fff;
    position: relative;
    .progress-bar {
        height: 100%;
        position: absolute;
        color: blue;
    }
}

.steps {
    display: flex;
    justify-content: space-between;
}

body {
    position: relative;
    position: relative;
}

.fa-xmark {
    position: absolute;
    top: 25px;
    left: 35px;
    transition: all 0.5s;
    background-color: beige;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 35px;
    transition: all 0.5s;
    background-color: beige;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        color: red;
        color: red;
    }
}

.exit {
    position: absolute;
    top: 25px;
    right: 35px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 35px;
    cursor: pointer;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.14px;
    letter-spacing: -0.03em;
    color: #3E97FF;
    cursor: pointer;
}